
<head>
    <link rel="stylesheet" href="~/css/nav.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/responsivo.css" />

    <link rel="stylesheet" href="~/css/carrousel.css">

</head>

<div class="headerResponsive">
    <div class="logo1">
        <img src="~/img/Logo.svg" />
        <p style="color: white">EcoAgrícola</p>
    </div>
    <button style="background-color: transparent; border: none;" id="menuopen" onclick="menuOpen()">
        <i class="bi bi-list"></i>
    </button>
</div>

<div id="sidebarResponsive">
    <div id="nav">

        <button id="menuclose" class="navitem" style="background-color: transparent; border: none;" onclick="menuclose()">
            <i class="bi bi-x-lg"></i>
            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Fechar</a>
        </button>

        <!-- Home -->
        <div class="navitem">
            <i class="fa-solid fa-house icon"></i>
            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
        </div>
        <!-- Produtos -->
        <div class="navitem">
            <i class="fa-solid fa-leaf icon"></i>
            <a class="" asp-area="" asp-controller="Produtos" asp-action="Index">Produtos</a>
        </div>
        <!-- Agricultores -->
        <div class="navitem">
            <i class="fa-solid fa-user icon"></i>
            <a class="" asp-area="" asp-controller="Agricultores" asp-action="agricultores">Agricultores</a>
        </div>
        <!-- Mapa -->
        <div class="navitem">
            <i class="fa-solid fa-user icon"></i>
            <a class="" asp-area="" asp-controller="Mapa" asp-action="Mapa">Mapa</a>
        </div>

        <!-- Compras -->
        <div class="navitem">
            <i class="bi bi-basket-fill icon"></i>
            <a class="" asp-area="" asp-controller="Compras" asp-action="Index">Compras</a>
        </div>
        <!-- Carrinho -->
        <div class="navitem">
            <i class="fa-solid fa-cart-shopping icon"></i>
            <a class="" asp-area="" asp-controller="Carrinho" asp-action="Index">Carrinho</a>
        </div>
        <!-- Sobre -->
        <div class="navitem">
            <i class="bi bi-info-circle icon"></i>
            <a class="" asp-area="" asp-controller="About" asp-action="about">Sobre</a>
        </div>
    </div>
    <div class="line white"></div>
    <div id="bottom">
        <partial name="_LoginPartial" />
    </div>
</div>


<body>
 
    <div id="main">
        <div id="SearchContainer">
            <a href="#card_agricultor"><p>Mapa</p></a><br /><br />
            <div class="map_search">
                <div id="box">
                    <i class="fa-solid fa-magnifying-glass iconsearch"></i>
                    <input type="text" name="Search" placeholder="Digite a localização:" id="location-input" class="input_search">
                </div>
                <button onclick="showLocation()">Mostrar</button>
            </div>
        </div>
        <div class="line pad hidden"></div>
        <iframe id="mapa"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434509658!2d144.95373631531597!3d-37.8162799797517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf5773dd4d3f4b742!2sFlinders%20St%20Station!5e0!3m2!1sen!2sau!4v1602543533839!5m2!1sen!2sau"
                width="600"
                height="450"
                style="border:0; width: 100%;
            height: 500px;"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0">
        </iframe>
    </div>

</body>

<script src="~/js/mapa.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEWm9bDB3dYTOsG06v27JgbCaQWqiqL_o"></script>

</html>