@* <head>
    <link rel="stylesheet" href="~/css/carrousel.css">
    <link rel="stylesheet" href="~/css/loja.css">
</head>
  
    <div id="main">
        <p class="first hidden">Perfil</p>
        <div class="line pad hidden"></div>
    <div id="pf">
    <div class="upload-container">
        <img id="icon" src="~/img/agricultores/1.png">
    </div>
    
    <div id="texts">
   <p id="name1">Saviero’s Ranch</p>
   <p id="name2">Rua das Facas, n° 97, Indaiatuba - SP.</p>
   <p id="name3">Saviero's Ranch é uma propriedade rural de destaque, onde tradição e modernidade se encontram para produzir o melhor em grãos, vegetais e produtos pecuários. Localizada em uma região privilegiada para a agricultura, a fazenda se orgulha de sua produção sustentável e de alta qualidade, sempre respeitando o meio ambiente e promovendo práticas agrícolas responsáveis.
    Orlando Saviero e Saviero's Ranch são sinônimos de confiança e qualidade no setor agrícola, sempre prontos para oferecer o melhor e mais fresco em produtos agrícolas, além de consultoria especializada para garantir o sucesso dos seus negócios.</p>
   
   </div>
   </div>
    <div class="line pad hidden"></div>
    <div id="container2">
    
    <div id="SearchContainer">
        <a ><p>Produtos</p></a>
        <div id="box">
            <i class="fa-solid fa-magnifying-glass iconsearch"></i>
            <input type="text" name="Search" placeholder="Encontre o que precisa:" id="input_search">
        </div>
    </div>
    <div class="line pad"></div>
    <div id="cardline">
        <div id="card">
            <div id="imgcard">
                <img src="~/img/produtos/borba.svg" alt="" id="item">
            </div>
            <div id="text">
                <h2>Unidade Alface</h2>
                <div id="cardprice">
                    <p>Vendedor vendedor</p>
                    <span>R$ 5,00</span>
                </div>
                <button>Adicionar ao Carrinho</button>
            </div>
        </div>

        <div id="card">
            <div id="imgcard">
                <img src="~/img/produtos/borba.svg" alt="" id="item">
            </div>
            <div id="text">
                <h2>Unidade Alface</h2>
                <div id="cardprice">
                    <p>Vendedor vendedor</p>
                    <span>R$ 5,00</span>
                </div>
                <button>Adicionar ao Carrinho</button>
            </div>
        </div>

        <div id="card">
            <div id="imgcard">
                <img src="~/img/produtos/borba.svg" alt="" id="item">
            </div>
            <div id="text">
                <h2>Unidade Alface</h2>
                <div id="cardprice">
                    <p>Vendedor vendedor</p>
                    <span>R$ 5,00</span>
                </div>
                <button>Adicionar ao Carrinho</button>
            </div>
        </div>

        <div id="card">
            <div id="imgcard">
                <img src="~/img/produtos/borba.svg" alt="" id="item">
            </div>
            <div id="text">
                <h2>Unidade Alface</h2>
                <div id="cardprice">
                    <p>Vendedor vendedor</p>
                    <span>R$ 5,00</span>
                </div>
                <button>Adicionar ao Carrinho</button>
            </div>
        </div>
    </div>

</div>
    
</body>
<script src="~/js/main.js"></script>
</html> *@