<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - testeNav</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/nav.css" />
    <link rel="stylesheet" href="~/testeNav.styles.css" asp-append-version="true" />

</head>
<body>
   
        <main role="main" class="pb-3">
            @RenderBody()
  


    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
<script src="https://kit.fontawesome.com/d566b63b60.js" crossorigin="anonymous"></script>
</html>